.float {
    position: absolute;
    left: 70px;
    top: 140px;
    z-index: 2;
}

.float1 {
    position: absolute;
    left: 90px;
    top: 140px;
    z-index: 2;
}

.float2 {
    position: absolute;
    right: 70px;
    top: 130px;
    z-index: 2;
}

.float3 {
    position: absolute;
    right: 70px;
    top: 200px;
    z-index: 2;
}